html{
    scroll-behavior: smooth;
}

body{
  color: black;
  font-family: "Roboto Slab", sans-serif;
  background-attachment: fixed; /* Parallax effect */
  background-position: 0 0;  /* Parallax effect */
  background-repeat: repeat; /* Parallax effect */
  background-size: contain;       /* Parallax effect */
  height: 100%;
  background-image:url("../images/blue-snow.png");


  /*background-color:#E6E6FA;*/
}

.byb-container {
  display: grid;
  padding: 30px;
}

.byb-container img {
  width: 40%;
  display: block;
  margin: 30px auto;
}

.comp {
  display: grid;
  grid-template-columns: repeat(2, 49%);
}

.comp img {
  width: 50%;
}

.selected, .selected:focus {
  border-bottom: 5px solid black;
  padding-bottom: 5px;
}

.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

main{
  margin-bottom: 100px;
  text-align: justify;
}


.about-image {
  text-align: center;
}

.about-links a {
  margin-right: 20px;
}

.work-container {
  display: grid;
  grid-template-columns: repeat(1, 90%);
  grid-gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.flip-card-back {
  padding-top: 20px;
}

#pnc {
  background-image: url("../images/homepage/pnc.png");
}

#swift {
  background-image: url("../images/homepage/swift.png");
  background-position: center;
  background-size: 80%;
}

#byb {
  background-image: url("../images/homepage/byb.png");
}




h1{
  font-size: 30pt;
  color: #ca2c92;
  text-shadow: 2px 2px black;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;

}

h3{
  text-align: left;
  padding: 10px;

}

h2{
  text-align: center;
  font-size: 15pt;
  color:#00008b;
  text-shadow: 2px 2px white;
}



p{
  font-size: 16px;
  padding: 10px;
  color: #871F78;
}

a{
  font-size: 16px;
  color:black;
  text-decoration-line: underline;
  text-decoration-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}


ol, ul{
  padding: 20px;
  color: #871F78
}

.swiftlogo{
  text-align: center;
}

.pnclogo{
  text-align: center;
  padding-top: 20px;

}

.pncinfo{
  padding:20px;
}

.tableau_pic{
  text-align: center;
}

.tableau_pic > img{
  height:200px;
  width:200px;

}

.excel_pic{
  text-align: center;
  padding-top: 20px;
}

.excel_pic > img{
  height:200px;
  width:200px;
}


.skip a{
  background-color: #ca2c92;
  color:#fff;
  border: 1px solid white;
  cursor: pointer;
  left: 0;
  padding: 20px;
  font-size: 20px;
  position: absolute;
  top: -70px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

}

.skip a:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

*:focus{
  padding-bottom: 0px;
  border-bottom: 2px solid black;
}

.about-gallery {
  display:flex;
  align-items: flex-start;
  justify-content:center;
  flex-wrap: wrap;
  min-height: 400px;
  padding-bottom: 30px;
}

.about-gallery > img{
  border: 5px black solid;
  margin: 10px;
  width: 275px;
  height: 208.75px;
}

.about-gallery >img:hover {
  opacity: 50%;
}

  fieldset{
     border-radius: 10px;
  }
  legend{
     text-align: center;
     padding-top: 3%;
  }
  fieldset div{
     border: 2px solid black;
     margin: 2%;
     padding: 1%;
     border-radius: 5px;
  }

  .contact{
     display: grid;
     grid-template-columns: auto 1fr;
     grid-row-gap: 5px;

  }

  .contact_form{
    text-align: left;
  }

  input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: blue;
}

.container {
  border-radius: 5px;
  /*background-color: #f2f2f2;*/
  padding: 20px;
}

  .flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #89cff0;
  color: white;
  transform: rotateY(180deg);
}

footer{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  text-align:center;
  min-height:10px;
}

footer a{
  color:white;
}

footer p{
  color:white;
}

.swift-main {
  margin: 10%;
}

.swift-personas-images img {
  width: 90%;
}

.methodology-list {
  margin-bottom: 30px;
}



.swift-main-header {
  width: 90%;
  display: block;
}

.swift-container {
  display: grid;
}

.swift-container img {
  width: 80%;
  display: block;
  margin: 30px auto;
}

.swift-container video {
  display: block;
  margin: 30px auto;
}

.swift-personas-images {
  display: grid;
  grid-template-columns: repeat(1, 99%);
}

.swift-container p {
  margin-right: 30px;
}

.swift-container ol {
  color: #871F78;
  margin-right: 30px;
}

#headerimage {
  width: 80%;
}

@media only screen and (min-width:1024px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

  .swift-container {
    display: grid;
  }

  #headerimage {
    width: 30%;
  }

  .swift-container img {
    width: 80%;
    display: block;
    margin: 30px auto;
  }

  .swift-container video {
    display: block;
    margin: 30px auto;
  }

  .swift-personas-images {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }

  .work-container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) {

  .about-container {
      display: grid;
      grid-template-columns: 20% 80%;
  }

  .about-bio {
    padding: 100px;
  }

  .about-image {
    margin-left: 30px;
  }

  .work-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    margin-top: 30px;
  }
}



#scroll_but {
	display: none;
	position: fixed;
	bottom: 30px;
  padding: 20px;
	right: 40px;
	z-index: 99;
	font-size:20px;
	border: 1px solid white;
  border-radius: 4px;
	outline: none;
	background-color:  #ca2c92;
	color: white;
	cursor: pointer;

}

#scroll_but:hover {
	background-color: #fff;
	color: #000;
}


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
    }

    #scroll_but{
      animation: none;
      transition: none !important;
      -webkit-transition: none !important;
    }

  }
